/* The main "Show Answer" button */
.btn-show-answer {
  background-color: rgb(205, 62, 176);
  color: #333;
  border: 2px solid #333;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 60%;
  margin-top: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: 0.2s;
}

.btn-show-answer:hover {
  background-color: #333;
  color: white;
}

/* The bookmark icon button */
.bookmark-btn {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: -15px;
  right: 15px; /* Moved slightly left so the text fits */
  display: flex; /* Aligns text and icon in a row */
  align-items: center; /* Centers them vertically */
  gap: 5px; /* Space between text and icon */
  font-size: 14px;
  font-family: sans-serif;
  font-weight: bold;
  color: #f51414;
}
