.footer {
  background-color: rgb(72, 14, 196);
  text-align: center;
  padding: 20px;
  border-bottom: 2px solid #333;

  /* This keeps the header glued to the top when you scroll down */
  position: sticky;
  bottom: 0;
  z-index: 10;
}

.header h1 {
  margin: 0;
  font-family: "OCR A Std", monospace;
}
